- if @project.present?
  = image_tag @project.image.url, width:"300"
  %h1= @project.author
  %p= @project.description

  = link_to "Like(#{@project.likes.size})", like_project_path(@project)
  = link_to "Dislike(#{@project.dislikes.size})", dislike_project_path(@project)

