= simple_form_for @project, multipart: true do |f|
  %h5 Выберите обложку
  = f.input :image, as: :file, label: false
  %hr
  = f.input :author, label: false
  = f.input :description, label: false

  = f.submit 'Опубликовать', class: 'btn btn-lg btn-block btn-primary'
